DB_USER=
DB_PASS=
DB_HOST=
DB_NAME=
DB_PORT=
GF_HEARTBEAT_SLEEP_SECONDS=
GF_HEARTBEAT_JITTER_S=
GF_COMPS_REFRESH_HOURS=
GF_HEARTBEAT_ENABLE_FLIPS=
GF_HEARTBEAT_ENABLE_CLOSE=
GF_HEARTBEAT_ENABLE_SCRAPE=
GF_HEARTBEAT_ENABLE_COMPS=
GF_HEARTBEAT_ENABLE_SCAN_ENDING=
GF_HEARTBEAT_ENABLE_ALERTS=
ALERT_SMTP_HOST=
ALERT_SMTP_PORT=
ALERT_SMTP_USER=
ALERT_SMTP_PASS=
ALERT_FROM=
ALERT_TO=
EBAY_ENV=
EBAY_APP_ID=
EBAY_CERT_ID=
EBAY_DEV_ID=
EBAY_API_BASE=
EBAY_OAUTH_SCOPE=
EBAY_APP_TOKEN=
